.header {
  font-family: monospace;
  background: rgb(97, 97, 233);
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: black;
  background: white;
  padding: 0px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-left: 0px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  color: black;
}

.left-links {
  padding: 2px;
}

.right-links {
  padding: 2px;
}
